table {
    width: 100%;
}

.title {
    margin-right: 32px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.edit {
    color: #9bb410;
    cursor: pointer;
    margin-right: 16px;
}

.visualizar {
    color: #0c709e;
    cursor: pointer;
    margin-right: 16px;
}

.create {
    color: rgb(12, 158, 12);
    cursor: pointer;
    margin-right: 10px;
    font-size: 2rem;
}

.delete {
    color: rgb(158, 12, 24);
    cursor: pointer;
    margin-right: 16px;
}