table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.visualizar {
    color: #0c709e;
    cursor: pointer;
    margin-right: 10px;
}

.create {
    color: rgb(12, 158, 12);
    cursor: pointer;
    margin-right: 10px;
}

.delete {
    color: rgb(158, 12, 24);
    cursor: pointer;
    margin-right: 10px;
}