<mat-card class="card-body">
    <div class="card-item">
        <mat-card-subtitle>Id</mat-card-subtitle>
        <mat-card-content>{{ paciente.id }}</mat-card-content>
    </div>
    <div class="card-item">
        <mat-card-subtitle>Nome</mat-card-subtitle>
        <mat-card-content>{{ paciente.name }}</mat-card-content>
    </div>
    <div class="card-item">
        <mat-card-subtitle>Data de Nascimento</mat-card-subtitle>
        <mat-card-content>{{ paciente.dataNascimento }}</mat-card-content>
    </div>
    <div class="card-item">
        <mat-card-subtitle>Idade</mat-card-subtitle>
        <mat-card-content>{{ paciente.idade }}</mat-card-content>
    </div>
</mat-card>
