<mat-card class="card">

    

    <mat-card-title>Olá, {{ paciente.name }}!</mat-card-title>
    <mat-card-subtitle>Aqui tem todos os seus dados.</mat-card-subtitle>

    <button class="btn" routerLink="/pacientes" >Voltar</button>
      
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Pessoal">
            <app-dados-pessoais></app-dados-pessoais>
            
        
        </mat-tab>
        <mat-tab label="Consultas">
            <app-consultas></app-consultas>
        </mat-tab>
        <mat-tab label="Exames">Content 3</mat-tab>
      </mat-tab-group>

</mat-card>

    


